article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px "TrebuchetMS", Helvetica, Verdana, sans-serif;
    /*XXX*/

}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    display: inline-block;
    margin: 8.3% 0 0 2%;
    color: #232323;
}

article h2 {
    width: 7em;
    background-color: #cb592aff;
    padding: 1%;
    text-transform: uppercase;
    color: white;
    margin-top: 4%;
}

h3 {
    font-weight: bold;
}



/* Header
.........................................................................*/
header {
    padding: 3%;
    border-bottom: 1px solid #ccc;
}

header img {
    float: left;
}


/* Main
.........................................................................*/

main {
    padding: 1%;
}

main img {
    width: 100%;
}

#flexbox-forside {
    display: flex;
}

#arrangement {
    padding-right: 0.5%;
}

#cafe {
    padding-left: 0.5%;
}

article a {
    text-decoration: underline;
    text-decoration-color: #cb592aff
}

/* Display none
..............*/

#udstilling-desktop,
#nyheder-desktop,
#events-desktop,
#banner {
    display: none;
}

/* Event
.............*/

#event-container {
    position: relative;
    padding-bottom: 0.5em;
}

#text-block-event {
    position: absolute;
    top: 12px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    height: 76%;
    width: 60%;
    background: rgb(0, 0, 0);
    /*Fallback color*/
    background: rgba(0, 0, 0, 0.5);
}

.event h3 {
    font-size: 1.7em;
    line-height: 1em;
    padding-bottom: 0.5em;
}

.event h4 {
    font-size: 1.1em;
    padding-bottom: 0.2em;
}

.event p {
    font-size: 0.9em;
    padding-bottom: 5%;

}

.event a,
.event a:visited {
    color: white;
}

.event h2 {
    background-color: white;
    color: black;
    font-size: 2em;
    padding-bottom: 3%;
}

#dato {
    padding-left: 0.4em;
    padding-top: 1em;
    padding-bottom: 0.1em;
    font-size: 1.1em;
    font-size: 1.1em;
}

#kalenderbillede {
    width: 3.3%;
}

#maj,
#april {
    text-align: center;
    font-size: 1.7em;
    border-bottom: solid 0.5px #cb592aff;
    padding: 2%;
    margin: 3%;
}




/* Museeums walk
.....................................*/


.walk-container {
    position: relative;
}

.walk-container .numre,
.walk-container .udstilling-nr {
    position: absolute;
    width: 8%;
}

.walk-container #nr1 {
    top: 80%;
    left: 43%;
}

.walk-container #nr2 {
    top: 30%;
    left: 53%;
}

.walk-container #nr3 {
    top: 15%;
    left: 84%;
}

/* Udstilling2
...........................*/

/*Her er tilføjet et total til den første class*/

.walk-container2 #udstilling3 {
    position: absolute;
    top: 18%;
    left: 88%;

}

#guidet-tour {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5em;
}

/* SLET
.dot {
    position: absolute;
    width: 4%;
}

#dot-bord {
    top: 50%;
    left: 50%;
}

#dot-venstre {
    top: 60%;
    left: 17%;
}

#dot-hoejre {
    top: 65%;
    left: 83%;
}
*/

.walk-container img:active {
    background-color: aqua;
}

/* Maja tilføjer
...........................*/

#myCheck {
    position: relative;
    top: 150px;
    left: 50%;
}

#two {
    position: relative;
    top: 200px;
    left: 5%;
}

#three {
    position: relative;
    top: 250px;
    left: 59%;
}

#myCheck3 {
    position: relative;
    top: 80px;
    left: 38%;
}

#two3 {
    position: relative;
    top: 150px;
    left: 50%;
}

#three3 {
    position: relative;
    top: 275px;
    left: 46%;
}

.walk-container2 {
    position: relative;
    background-image: url(/img/walk/udstilling2.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 340px;
    width: 220px;
    margin: 0 auto;
}

.walk-container3 {
    position: relative;
    background-image: url(/img/walk/udstilling3.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 340px;
    width: 400px;
    margin: 0 auto;
}

.walk-container2 .numre,
.walk-container2 .udstilling-nr,
.walk-container3 .numre,
.walk-container3 .udstilling-nr {
    position: absolute;
    width: 10%;
}


#udstilling2 {
    width: 200px;
    margin: 0 auto;
}

#udstilling-nr2 {
    top: 52%;
}


#toeren,
#kagedrengen {
    display: none;
}





/* Instagram
..........................*/
.insta {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5em;
}

#insta-grid-row1 {
    align-items: flex-start;
}

#insta-grid-row2 {
    align-items: flex-end;
    justify-content: flex-end;
}

#insta-grid-row3 {
    align-items: center;

}

.insta img {
    width: 25%;
}




/* Footer
.........................................................................*/
footer {
    height: 10%;
    background-color: #cb592aff;
    color: white;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer img {
    width: 2.5em;
}


/*Tilføjet af Maja*/
/* @media query! Skærme over XXXpx
..................................................................*/
@media only screen and (min-width: 500px) {
    nav ul #mw {
        display: none;
    }
}

/* @media query! Skærme over 768px
..................................................................*/
@media only screen and (min-width: 768px) {

    #udstilling-desktop,
    #nyheder-desktop,
    #events-desktop,
    #banner {
        display: block;
    }

    #udstilling-flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    #udstilling-nyheder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #udstilling-desktop {
        width: 66%;
    }

    #nyheder-desktop {
        width: 32%;

            {
            margin-top: 7%
        }
    }

    .stor-billede {
        width: 55%;
    }

    .smaa-billeder {
        width: 43%;
    }

    #udstilling-desktop h2 {
        margin: 1%
    }


}
