article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px "TrebuchetMS", Helvetica, Verdana, sans-serif;
    /*XXX*/

}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    display: inline-block;
    margin: 8.3% 0 0 2%;
    color: #232323;
}

article h2 {
    width: 7em;
    background-color: #cb592aff;
    padding: 1%;
    text-transform: uppercase;
    color: white;
    margin-top: 4%;
}

h3 {
    font-weight: bold;
}



/* Header
.........................................................................*/
header {
    padding: 3%;
    border-bottom: 1px solid #ccc;
}

header img {
    float: left;
}


/* Main
.........................................................................*/

main {
    padding: 1%;
}

main img {
    width: 100%;
}

#flexbox-forside {
    display: flex;
}

#arrangement {
    padding-right: 0.5%;
}

#cafe {
    padding-left: 0.5%;
}

article a {
    text-decoration: underline;
    text-decoration-color: #cb592aff
}

/* Event
.............*/

#event-container {
    position: relative;
    padding-bottom: 0.5em;
}

#text-block-event {
    position: absolute;
    top: 12px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    height: 76%;
    width: 60%;
    background: rgb(0, 0, 0);
    /*Fallback color*/
    background: rgba(0, 0, 0, 0.5);
}

.event h3 {
    font-size: 1.7em;
    line-height: 1em;
    padding-bottom: 0.5em;
}

.event h4 {
    font-size: 1.1em;
    padding-bottom: 0.2em;
}

.event p {
    font-size: 0.9em;
    padding-bottom: 5%;

}

.event a,
.event a:visited {
    color: white;
}

.event h2 {
    background-color: white;
    color: black;
    font-size: 2em;
    padding-bottom: 3%;
}

#dato {
    padding-left: 0.4em;
    padding-top: 1em; padding-bottom: 0.1em;
    font-size: 1.1em;
    font-size: 1.1em;
}
#kalenderbillede {
    width: 3.3%;
}

#maj,
#april {
text-align: center;
    font-size: 1.7em;
    border-bottom: solid 0.5px #cb592aff; 
    padding: 2%;
    margin: 3%; 
}




/* Walk
....................*/


#walk-container {
    position: relative;
}

main #nr1 {
    position: absolute;
    top: 200px;
    left: 200px;
}

main #nr2 {
    position: absolute;
    top: 40%;
    left: 40%;
}

main #nr3 {
    position: absolute;
    top: 30%;
    left: 50%;
}

main #nr4 {
    position: relative;
    top: 500px;
    left: 90px;
}



/* Instagram
..........................*/
.insta {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5em;
}

#insta-grid-row1 {
    align-items: flex-start;
}

#insta-grid-row2 {
    align-items: flex-end;
    justify-content: flex-end;
}

#insta-grid-row3 {
    align-items: center;

}

.insta img {
    width: 25%;
}




/* Footer
.........................................................................*/
footer {
    height: 10%;
    background-color: #cb592aff;
    color: white;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer img {
    width: 2.5em;
}




/* @media query! Skærme over XXXpx
..................................................................*/
