article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px "TrebuchetMS", Helvetica, Verdana, sans-serif;
    /*XXX*/

}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    display: inline-block;
    margin: 8.3% 0 0 2%;
    color: #232323;
}

article h2 {
    width: 7em;
    background-color: #cb592aff;
    padding: 1%;
    text-transform: uppercase;
    color: white;
    margin-top: 4%;
}

h3 {
    font-weight: bold;
}



/* Header
.........................................................................*/
header {
    padding: 3%;
    border-bottom: 1px solid #ccc;
}

header img {
    float: left;
}


/* Main
.........................................................................*/

main {
    padding: 1%
}

main article img {
    width: 100%;
}

#flexbox-forside {
    display: flex;
}

#arrangement {
    padding-right: 0.5%
}

#cafe {
    padding-left: 0.5%
}



/* Walk
....................*/


#walk-container {
    position: relative;
}

main #nr1 {
    position: absolute;
    top: 200px;
    left: 200px;
}

main #nr2 {
    position: absolute;
    top: 40%;
    left: 40%;
}

main #nr3 {
    position: absolute;
    top: 30%;
    left: 50%;
}

main #nr4 {
    position: relative;
    top: 500px;
    left: 90px;
}



/* Footer
.........................................................................*/
footer {
    height: 10%;
    background-color: #cb592aff;
    color: white;
    padding: 1%;
}



/* @media query! Skærme over XXXpx
..................................................................*/
